Connected to Python 3.10.4

In [2]:
import pandas as pd
import numpy as np
import os

In [40]:
df = pd.read_csv("23-24pl.csv")

In [41]:
df

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,2.28,1.50,1.95,1.98,1.95,1.97,NaN,NaN,1.92,1.95
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,2.63,-2.00,1.95,1.98,1.93,1.97,2.01,2.09,1.95,1.92
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,2.12,0.00,2.02,1.91,2.01,1.92,2.06,1.96,1.96,1.91
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,2.48,-1.75,2.01,1.92,2.00,1.91,2.14,1.93,2.00,1.86
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,1.71,-0.25,2.06,1.87,2.04,1.88,2.08,1.99,1.98,1.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,E0,30/12/2023,15:00,Wolves,Everton,3,0,H,1,0,...,1.75,0.00,2.10,1.83,2.10,1.85,2.13,1.91,2.04,1.84
193,E0,30/12/2023,17:30,Nott'm Forest,Man United,2,1,H,0,0,...,2.14,0.25,1.99,1.94,2.00,1.93,2.09,1.94,1.97,1.89
194,E0,31/12/2023,14:00,Fulham,Arsenal,2,1,H,1,1,...,2.04,1.00,1.89,2.04,1.87,2.06,2.02,2.07,1.89,1.98
195,E0,31/12/2023,14:00,Tottenham,Bournemouth,3,1,H,1,0,...,3.41,-0.75,1.98,1.95,2.00,1.93,2.00,2.00,1.93,1.93
196,E0,01/01/2024,20:00,Liverpool,Newcastle,4,2,H,0,0,...,3.12,-1.50,2.01,1.92,1.98,1.93,2.14,1.94,2.01,1.87

In [42]:
df = df [["Date", "HomeTeam","AwayTeam","FTHG","FTAG"]]

In [43]:
df

           Date       HomeTeam       AwayTeam  FTHG  FTAG
0    11/08/2023        Burnley       Man City     0     3
1    12/08/2023        Arsenal  Nott'm Forest     2     1
2    12/08/2023    Bournemouth       West Ham     1     1
3    12/08/2023       Brighton          Luton     4     1
4    12/08/2023        Everton         Fulham     0     1
..          ...            ...            ...   ...   ...
192  30/12/2023         Wolves        Everton     3     0
193  30/12/2023  Nott'm Forest     Man United     2     1
194  31/12/2023         Fulham        Arsenal     2     1
195  31/12/2023      Tottenham    Bournemouth     3     1
196  01/01/2024      Liverpool      Newcastle     4     2

[197 rows x 5 columns]

In [44]:
table = pd.DataFrame(columns=["Club","PlayedMatches","Point","Win","Draw","Loose","GDifference"])

In [45]:
teams = (pd.concat([df["HomeTeam"],df["AwayTeam"]])).unique()

In [46]:
for team in teams:
    home_matches = df[df['HomeTeam'] == team]
    away_matches = df[df['AwayTeam'] == team]
    played_matches = len(home_matches) + len(away_matches)
    wins = len(home_matches[home_matches["FTHG"]>home_matches["FTAG"]]) + len(away_matches[away_matches['FTAG'] > away_matches['FTHG']])
    draws = len(home_matches[home_matches['FTHG'] == home_matches['FTAG']]) + len(away_matches[away_matches['FTHG'] == away_matches['FTAG']])
    looses = played_matches - wins - draws
    point = wins*3 + draws

    goal_difference = sum(home_matches['FTHG'] - home_matches['FTAG']) + sum(away_matches['FTAG'] - away_matches['FTHG'])

    table = table.append({
        'Club': team,
        'PlayedMatches': played_matches,
        'Point' : point,
        'Win': wins,
        'Draw': draws,
        'Loose': looses,
        'GDifference': goal_difference
    }, ignore_index=True)

C:\Users\Kocsis Máté\AppData\Local\Temp\ipykernel_16580\1534770171.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({
C:\Users\Kocsis Máté\AppData\Local\Temp\ipykernel_16580\1534770171.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({
C:\Users\Kocsis Máté\AppData\Local\Temp\ipykernel_16580\1534770171.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({
C:\Users\Kocsis Máté\AppData\Local\Temp\ipykernel_16580\1534770171.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({
C:\Users\Kocsis Máté\AppData\Local\Temp\ipykernel_16580\1534770171.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({
C:\Users\Kocsis Máté\AppData\Local\Temp\ipykernel_16580\1534770171.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({
C:\Users\Kocsis Máté\AppData\Local\Temp\ipykernel_16580\1534770171.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({
C:\Users\Kocsis Máté\AppData\Local\Temp\ipykernel_16580\1534770171.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({
C:\Users\Kocsis Máté\AppData\Local\Temp\ipykernel_16580\1534770171.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({
C:\Users\Kocsis Máté\AppData\Local\Temp\ipykernel_16580\1534770171.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({
C:\Users\Kocsis Máté\AppData\Local\Temp\ipykernel_16580\1534770171.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({
C:\Users\Kocsis Máté\AppData\Local\Temp\ipykernel_16580\1534770171.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({
C:\Users\Kocsis Máté\AppData\Local\Temp\ipykernel_16580\1534770171.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({
C:\Users\Kocsis Máté\AppData\Local\Temp\ipykernel_16580\1534770171.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({
C:\Users\Kocsis Máté\AppData\Local\Temp\ipykernel_16580\1534770171.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({
C:\Users\Kocsis Máté\AppData\Local\Temp\ipykernel_16580\1534770171.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({
C:\Users\Kocsis Máté\AppData\Local\Temp\ipykernel_16580\1534770171.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({
C:\Users\Kocsis Máté\AppData\Local\Temp\ipykernel_16580\1534770171.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({
C:\Users\Kocsis Máté\AppData\Local\Temp\ipykernel_16580\1534770171.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({
C:\Users\Kocsis Máté\AppData\Local\Temp\ipykernel_16580\1534770171.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({

In [47]:
table = table.sort_values(by='Point',ascending=False)
print(table)

                Club PlayedMatches Point Win Draw Loose GDifference
12         Liverpool            20    45  13    6     1          25
16       Aston Villa            20    42  13    3     4          16
1            Arsenal            20    40  12    4     4          17
15          Man City            19    40  12    4     3          24
14         Tottenham            20    39  12    3     5          13
17          West Ham            19    33  10    3     6           3
9         Man United            20    31  10    1     9          -5
3           Brighton            19    30   8    6     5           5
6          Newcastle            20    29   9    2     9          10
13            Wolves            20    28   8    4     8          -1
8            Chelsea            20    28   8    4     8           3
4            Everton            20    26   8    2    10          -4
2        Bournemouth            19    25   7    4     8          -7
11            Fulham            20    24   7    3    10          -7
18    Crystal Palace            20    21   5    6     9          -7
10     Nott'm Forest            20    20   5    5    10         -11
7          Brentford            19    19   5    4    10          -5
19             Luton            19    15   4    3    12         -14
0            Burnley            20    11   3    2    15         -21
5   Sheffield United            20     9   2    3    15         -34

In [48]:
by_gd = table.sort_values(by='GDifference',ascending=False)

In [49]:
by_gd

                Club PlayedMatches Point Win Draw Loose GDifference
12         Liverpool            20    45  13    6     1          25
15          Man City            19    40  12    4     3          24
1            Arsenal            20    40  12    4     4          17
16       Aston Villa            20    42  13    3     4          16
14         Tottenham            20    39  12    3     5          13
6          Newcastle            20    29   9    2     9          10
3           Brighton            19    30   8    6     5           5
8            Chelsea            20    28   8    4     8           3
17          West Ham            19    33  10    3     6           3
13            Wolves            20    28   8    4     8          -1
4            Everton            20    26   8    2    10          -4
9         Man United            20    31  10    1     9          -5
7          Brentford            19    19   5    4    10          -5
2        Bournemouth            19    25   7    4     8          -7
11            Fulham            20    24   7    3    10          -7
18    Crystal Palace            20    21   5    6     9          -7
10     Nott'm Forest            20    20   5    5    10         -11
19             Luton            19    15   4    3    12         -14
0            Burnley            20    11   3    2    15         -21
5   Sheffield United            20     9   2    3    15         -34